*.[aod]
*.exe
*.zip
*.DS_*
*Thumbs.db
*.apk
*.idea
*.deb
dest
issue
node_modules
/android/MRPClient/obj
/android/MRPClient/gen
/android/MRPClient/bin
/android/MRPClient/cordova
/android/MRPClient/.settings
/android/MRPClient/libs/armeabi
/android/MRPClient/libs/android-support-v4.jar
/android/MRPClient/jni/clessc/build/objs
/android/MRPClient/assets
/android/issue/*.apk
/android/MRPClient/jni/clessc
/android/CRMClient/
/android/MyrskySales/
/windows/bin
/windows/MRPClient/*.dll
/windows/MRPClient/nw.pak
/windows/MRPClient/locales
/windows/MRPClient/icudtl.dat
/windows/MRPClient_x64
/release
/linux/bin
/ios
/windows/CRMClient/*
!/windows/CRMClient/www
!/windows/CRMClient/extra
/macosx/bin
/docs

